<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodLink</title>
    <link rel="icon" href="/images/Logo.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/Aboutus.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <header class="header">
        <div id="logo">
            <img src="/images/Logo.png">
        </div>
        <div id="titlediv">
            <p id="title">FoodLink:</p>
            <p id="subtitle">Every Meal Matters!</p>
        </div>
    </header>

    <section>
        <div id="aboutus">
            <h1>About Us</h1>
            <p>
                Imagine a table laden with food, enough to feed a small crowd. Now, imagine that food destined 
                for the bin, while just streets away, someone goes to bed hungry. 
                This isn't a distant problem; it's a daily reality. At Foodlink, we believe that story can have a different ending
            </p>
            <p>
                We're not just a website; we're a movement.
                Foodlink was born from a simple yet profound realization: the disconnect between abundance and need. 
                We saw perfectly good food being wasted while some people struggled to put a meal on the table. We knew there had to be a better way.
            </p>
            <p>
                Every plate of wasted food tells a story of lost resources, 
                of missed opportunities. But more importantly, it represents a missed chance to nourish someone, 
                to offer a helping hand. We believe in the power of connection, in the ability of communities to care for their own. Foodlink is the bridge that turns surplus into sustenance, waste into warmth
            </p>
            <p>
                We've created a simple, intuitive system that connects you directly with registered NGOs, 
                ensuring your donated food reaches those who need it most, quickly and safely.
                How It Works"It's as easy as sharing a meal.Share Your Surplus: A few clicks and your food is ready to make a difference.
                Alert the Helpers: Our system instantly notifies vetted NGOs in your area.
                Real-Time Rescue: NGOs coordinate pickup, ensuring food gets where it's needed, fast.
                Nourish the Community: Watch the impact unfold as your donation brings hope and sustenance."
            </p>
            <p>
                "This isn't just about food; it's about building a stronger, more compassionate community. It's about rewriting the narrative of waste and hunger. 
                Join us, and let's create a story where everyone has a seat at the table.
            </p>
            <p>
                <a href="/DonateFood" id="donate">Ready To donate?</a>
            </p>
            <p>
                <a href="/Register" id="register">NGO? Join our Network:</a>
            </p>
            <p>
                <a href="https://www.instagram.com/" id="instagram">Let's Connect:</a>
            </p>
        </div>
    </section>


    <footer class="Footer">
        <div id="address">
            <h3>Address</h3>
            <p>Survey No. 27, Near Trimurti Chowk</p>
            <P>Dhankwadi, Pune - 411043</P>
            <p><i class="fa-solid fa-phone"></i> +91 20 24371101 </p>
            <p>
                <i class="fa-solid fa-map-location"></i>
                <a href="https://maps.app.goo.gl/2JNF3bfGsngKYw6B7" id="gmap">Google Map</a>
            </p>
        </div>
        <div id="Contact">
            <h3>Contact Details</h3>
            <p>Ajinkya Mote_22150</p>
            <p>Sagar Mane_22147</p>
            <p>Riddhiraj Kulkarni_22142</p>
            <p>Mrunalinee Malapur_22146</p>
        </div>
        <div>
            <h3>Social Media</h3>
            <p>
                <i class="fa-brands fa-instagram"></i>
                <a href="https://www.instagram.com/" id="socialmedia">Instagram</a>
            </p>
            <p>
                <i class="fa-brands fa-x-twitter"></i>
                <a href="https://x.com/?lang=en" id="socialmedia">Twitter</a>
            </p>
            <p>
                <i class="fa-brands fa-youtube"></i>
                <a href="https://www.youtube.com/" id="socialmedia">Youtube</a>
            </p>
        </div>
    </footer>
    <script src="/js/Aboutus.js"></script>
</body>

</html>
