<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation Sucessfull</title>
    <link rel="icon" href="/images/Logo.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/DonationSucessfull.css">
</head>

<body>
    <div class="Sucessfull">
        <header id="thanksmsg">
            <p id="title">Thank You For Making a Difference </p>
            <p id="msg">"Thank you for your generous donation! Your kindness and support mean the world to us and will
                have a lasting impact. It's because of people like you that we're able to continue making a difference
                and helping those in need. Please know how deeply we appreciate your contribution and the positive
                change it brings. Thank you for being a part of this effort!"</p>
        </header>
    </div>
</body>

</html>